<h3>Endangered animal: $animal.getName()</h3>

<p>Health: $animal.getHealth()</p>
<p>Age: $animal.getAge()</p>
<br>

<h3>Sightings:</h3>
#if ($sightings.size() > 0)
<ul>
    #foreach($s in $sightings)
        <li><a href="/sightings/$s.getId()">at $locationsDict.get($s.getLocation_Id()) by $rangersDict.get($s.getRanger_Id()) on $s.getDisplayTime()</a></li>
    #end
</ul>
#else <p>No sightings</p>#end
<br>

<a href="/animals">Back to animals list</a>