<h3>View and Report</h3>
<p><a href="/sightings">Sightings</a></p>

<br>

<h3>Manage</h3>
<p><a href="/stations">Stations</a></p>
<p><a href="/rangers">Rangers</a></p>
<p><a href="/locations">Locations</a></p>
<p><a href="/animals">Animals</a></p>
